name: 测试secrets

on: [workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 测试secrets
        run: |
          echo "url: ${{ secrets.url }}"
          echo "filename: ${{ secrets.filename }}"
          echo "git_user: ${{ secrets.git_user }}"
          echo "git_email: ${{ secrets.git_email }}"
